{{#each cats}}
<h2>Name: {{name}}</h2>
<h2>Age: {{age}}</h2>
<h2>Gender: {{genders}}</h2>
<h2>Available: {{age}}</h2>
<a href="/singlepet/{{id}}">ADOPT!</a>
<img src="/images/{{image}}" alt="{{name}} Cat" width="300" height="400">
{{/each}}