<!-- views/pet.handlebars -->
<h1>{{name}}</h1>
<p>Type: {{type.type_name}}</p>
<p>Breed: {{breed.breed_name}}</p>
<p>Gender: {{gender}}</p>
<p>Age: {{age}}</p>
<!-- Add more pet details as needed -->